@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */

.card {
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px !important;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* ==============================
      Proje-Personel Cards  
============================== */

.card-category {
  color: gray;
  font-size: 25px;
  letter-spacing: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.numbers {
  text-align: right;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
.numbers-span {
  font-size: 20px;
  /* margin-left: 10px; */
}

.card-root {
  flex-grow: 1;
  text-align: center;
}

/* .card-body {
} 

.card-footer {
} */

.button-detay {
  color: gray !important;
}

.button-detay-link {
  text-decoration: none !important;
  color: gray !important;
}

.icon {
  /* position: relative;
  vertical-align: middle; */
  margin: auto auto;
  transform: scale(1.5);
  margin-top: 20px;
}

.divider {
  width: 90%;
  transform: translateX(5%);
}

/* ==============================
        Musteri Info Card  
============================== */

.mi-card-root {
  flex: 1;
}

.mi-card {
  height: 577px;
  position: relative;
  overflow: auto !important;
  font-family: 'Montserrat', sans-serif !important;
}

.mi-maps {
  position: sticky;
  bottom: 0px;
  width: 100%
}

.mi-card h1 {
  color: gray;
  word-wrap: break-word;
  /* margin-right: 10px; */
  text-align: center;
  letter-spacing: 2;
  text-transform: uppercase;
  margin-top: -11px;
  font-weight: normal !important;
}

.mi-card h2 {
  word-wrap: break-word;
  font-weight: normal !important;
  /* color: gray; */
}

.mi-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}

.mi-list-icon {
  vertical-align: middle;
}

/* ==============================
            Urunler  
============================== */

.urun-card {
  height: 383.1px;
  font-family: 'Montserrat', sans-serif !important;
  overflow: auto !important;
}

.urun-title {
  color: gray;
  font-size: 25px;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
  /* position: sticky;
  top: 15px; */
}

.urun-card h1 {
  color: gray;
  text-align: center;
  letter-spacing: 2;
  font-weight: normal !important;
  margin: 0
}

.urun-card h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.urun-card h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.urun-icon {
  margin-top: 1px !important;
}

/* .urun-small {
} */

.urun-divider {
  margin-bottom: 5px !important;
  /* margin-top: -5px !important; */
}

/* ==============================
          Warning List  
============================== */

.uyari-card {
  height: 383.1px;
  font-family: 'Montserrat', sans-serif !important;
  overflow: auto !important;
}

.uyari-title {
  color: gray;
  font-size: 25px;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
  /* position: sticky;
  top: 15px; */
}

.uyari-card h1 {
  color: gray;
  text-align: center;
  letter-spacing: 2;
  font-weight: normal !important;
  margin: 0
}

.uyari-card h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.uyari-card h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: normal;
}

.uyari-small {
  font-weight: 100 !important;
  font-size: 10px;
}

.uyari-divider {
  margin-bottom: 5px !important;
  /* margin-top: -5px !important; */
}

.uyari-icon {
  margin-top: 2px;
}


/* ==============================
            Sorumlular 
============================== */

.sorumlu-card {
  height: 383.1px;
  font-family: 'Montserrat', sans-serif !important;
  overflow: auto !important;
}

.sorumlu-title {
  color: gray;
  font-size: 25px;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
  /* position: sticky;
  top: 15px; */
}

.sorumlu-card h1 {
  color: gray;
  text-align: center;
  letter-spacing: 2;
  font-weight: normal !important;
  margin: 0
}

.sorumlu-card h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  /* line-height: 30px; */
}

.sorumlu-small {
  font-weight: 100 !important;
  color: gray;
  font-size: 13px;
}

.sorumlu-divider {
  margin-top: 8px !important;
  margin-bottom: 16px !important;
}

.sorumlu-icon {
  transform: scale(1.5);
  margin-top: 5px;
}

/* ==============================
          Todo List  
============================== */

.todo-card {
  height: 383.1px;
  font-family: 'Montserrat', sans-serif !important;
  overflow: auto !important;
  text-align: center;
}

/* ? */
.todo-card input, .todo-card button {
  font-family: 'Montserrat', sans-serif !important;
}

.todo-title {
  color: gray;
  font-size: 25px;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
}

.todo-card h1 {
  color: gray;
  text-align: center;
  letter-spacing: 2;
  font-weight: normal !important;
  margin: 0
}

/* ==============================
          Timeline  
============================== */

.timeline-card {
  height: 383.1px;
  font-family: 'Montserrat', sans-serif !important;
  overflow: auto !important;
}

.timeline-title {
  color: gray;
  font-size: 25px;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
}

.timeline-card h1 {
  color: gray;
  text-align: center;
  letter-spacing: 2;
  font-weight: normal !important;
  margin: 0
}

.timeline-card h3 {
  margin-top: 0;
  margin-bottom: 0 !important;
  font-size: 20px;
  font-weight: 100 !important;
  /* line-height: 30px; */
}

.timeline-card h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px gray, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}
.vertical-timeline::before {
  background: gray;
}

.vertical-timeline-element-date {
  font-weight: 100 !important;
  font-size: 11px !important;
  /* margin-top: 0 !important;
  margin-bottom: 0 !important; */
}

/* ==============================
        Projects Timeline  
============================== */

.projects-card {
  /* height: 395.1px; */
  height: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif !important;
  overflow: auto !important;
}

.projects-title {
  color: gray;
  font-size: 25px;
  margin-top: 12px !important;
  margin-bottom: 0 !important;
}

.projects-card h1 {
  color: gray;
  text-align: center;
  letter-spacing: 2;
  font-weight: normal !important;
  margin: 0
}


/* ==============================
        Top Pane  
============================== */

.top-pane-icon {
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: middle;
}
.top-pane-list-icon {
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: middle;
  transform: translateY(-2px);
}

.top-pane {
  list-style-type: none;
  margin: 0 !important; 
  padding-inline-start: 0px !important;
  /* default ul
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

.top-pane li {
  display: inline-block;
  margin: 0;
}

.top-pane-link {
  text-decoration: none !important;
}

.dropbtn {
  background-color: gray;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
}
.top-pane li:first-child button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.top-pane li:last-child button{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .top-pane-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .top-pane-link:hover {background-color: #ddd; }

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(0,0,0,.70);cursor: pointer;}