.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	min-width: 600px;
	width: 100%;
	background: white;
}

#customers td,
#customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

/*#customers tr:nth-child(even){background-color: #f2f2f2;}*/

#customers tr:hover {
	background-color: #ddd !important;
	cursor: pointer;
	z-index: 99999;
}
#customers.pdks tr:hover { 
	background-color: #f3f2f2   !important;
	cursor: pointer;
	z-index: 99999;
}
 

#customers.pdks tr td:nth-child(n) div {
margin-left: 0 !important;
}


#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #657ae4;
	color: white;
}

#customers tr {
	/*background-color: #657ae4;*/
	color: #666464;
}

#customers .altCategory {
	background-color: #e4e4e3;
	color: #666464;
	padding-left: 50px;
}

.text-right {
	text-align: right
}

.none {
	display: none
}

.stictTable {
	position: sticky;
	left: 0;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.bgStictTableGrey {
	background-color: #cecaca;
	color: #657ae4
}

.bgStictTableWhite {
	background-color: white;
}

.text-center {
	text-align: center
}




#error table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#error td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

#error tr:nth-child(even) {
	background-color: #dddddd;
}


/* ==============
  İŞ PAKETLERİ
  ============== */

/* 
.ip1  #F2A30F
.ip2  #0583F2
.ip3  #0BD904
.ip4  #F05CF2
.ip5  #027353 
.ip6  #D9560B
.ip7  #E96873
.ip8  #0E0D0D
.ip9  #F2E205
.ip10 #3CA69B
*/

#customers tr td:nth-child(n) div {
	margin-left: -8px !important;
	margin-right: -8px !important;
	border-radius: 5px;
}

.ip1 {
	background: #F2A30F !important;
	color: white;
	text-align: center !important;
	margin-left: 0;
	margin-right: 0;
}

.ip2 {
	background: #0583F2 !important;
	color: white;
	text-align: center !important;
}

.ip3 {
	background: #0BD904 !important;
	color: white;
	text-align: center !important;
}

.ip4 {
	background: #F05CF2 !important;
	color: white;
	text-align: center !important;
}

.ip5 {
	background: #027353 !important;
	color: white;
	text-align: center !important;
}

.ip6 {
	background: #D9560B !important;
	color: white;
	text-align: center !important;
}

.ip7 {
	background: #E96873 !important;
	color: white;
	text-align: center !important;
}

.ip8 {
	background: #0E0D0D !important;
	color: white;
	text-align: center !important;
}

.ip9 {
	background: #F2E205 !important;
	color: white;
	text-align: center !important;
}

.ip10 {
	background: #3CA69B !important;
	color: white;
	text-align: center !important;
}

.ip-static {
	width: 100%;
	text-align: right;
}

.ip-static span {
	padding: 5px;
	font-size: 8px;
}

.ip-static span:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.ip-static span:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.alert {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	position: relative;
	padding: .75rem 1.25rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

#adamayChange {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#adamayChange td, th{
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
#adamayChange th{
	width: 200px;
}
#adamayChange  tr:nth-child(even) {
	background-color: #dddddd;
  }

#adamayChange .oranRow{
	display: flex!important;
}

.adamayManualUpdate{
background-image: url("./images/wall.png")!important;
    background-size: cover!important;
	background-position: center!important;
}

.dangerAdamAy{
background: red!important;	
border: 2px solid darkred ;
}